Source: legion
Section: misc
Priority: optional
Maintainer: GoVanguard <hello@gvit.com>
Uploaders: Shane Scott <sscott@gvit.com>
Build-Depends: debhelper, python3, python3-pyqt5, python3-requests
Standards-Version: 4.3.0
Homepage: https://github.com/GoVanguard/Legion

Package: legion
Architecture: all
Depends: ${misc:Depends},
         python3,
         python3-pyqt5,
         nmap,
         finger,
         hydra,
         nikto,
         nbtscan,
         nfs-common,
         rpcbind,
         smbclient,
         sra-toolkit
         ldap-utils,
         sslscan,
         rwho,
         rsh-client,
         x11-apps,
         cutycapt,
         leafpad,
         xvfb,
         imagemagick,
         eog,
         hping3,
         sqlmap,
         wapiti,
         libqt5core5a,
         python-pip,
         ruby,
         perl,
         urlscan,
         git,
         xsltproc,
         python-impacket,
         whatweb,
         medusa
